.PokeLi{
    list-style: none;
    cursor: pointer;
    position:relative;
    background-color: rgb(250, 250, 245);
    border-radius: 10px;
    & img {
   
        width: 150px;
        height: auto;
        padding-bottom: 10px;
    }
}
.PokeLi:hover {
    transform: scale(1.084);
}

.headingpoke{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
   background-color: rgb(173, 80, 80);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

    padding: 5px;
}

.boxImg{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}