*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, rgba(234, 234, 234,0.06) 0%, rgba(234, 234, 234,0.06) 50%,rgba(169, 169, 169,0.06) 50%, rgba(169, 169, 169,0.06) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 72px 72px;
}
.MainContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.secondContainer  {
width: 80%;
    & h1 {
        text-align: center;
        color: #f1f1f1;
      font-size: 3.5rem;
      font-family: Jaro;
      font-weight: 300;
      padding-block: 50px;
    }
}

.Flecontainer {
    width: auto;
}

.listePokemon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-auto-rows: 200px;
    grid-gap: 10px; 
  }
  
  @media (max-width: 1200px) {
    .listePokemon {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
    }
  }
  
  @media (max-width: 900px) {
    .listePokemon {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); 
    }
  }
  
  